
*/__pycache__

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv/
.idea/
venv/
.idea
dtm_parser/.idea/
dtm_parser/.idea
dump/
raw_data/